.mainContents {
  margin: 0;
  padding: 0;
  margin: auto;
  padding-top: 4vw;
  width: 50vw;
  text-align: center;
}
.mainContents .personalInfo {
  margin: 0;
  padding: 0;
  margin-bottom: 2vw;
  display: flex;
  flex-direction: column;
}
.mainContents .personalInfo .name {
  font-size: 2rem;
  font-weight: 500;
}
.mainContents .personalInfo .curriculum_vitae {
  font-size: 1.25rem;
  font-weight: 300;
  padding-bottom: 1vw;
}
.mainContents .personalInfo .contactInfo, .mainContents .personalInfo .portfolio {
  font-size: 0.85rem;
  font-weight: 300;
}
.mainContents div.Summary {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}
.mainContents div.Summary span.Summary {
  margin-bottom: 1vw;
  padding-bottom: 0.25vw;
  border-bottom: #fff 0.1vw solid;
  font-size: 1.65rem;
  font-weight: 500;
}
.mainContents div.Education {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}
.mainContents div.Education span.Education {
  margin-bottom: 1vw;
  padding-bottom: 0.25vw;
  border-bottom: #fff 0.1vw solid;
  font-size: 1.65rem;
  font-weight: 500;
}
.mainContents div.Education .school01, .mainContents div.Education .school02, .mainContents div.Education .school03 {
  font-weight: 500;
}
.mainContents div.Education .school01Date, .mainContents div.Education .school02Date {
  margin-bottom: 1vw;
}
.mainContents div.Education .school01Degree, .mainContents div.Education .school02Degree {
  font-weight: 300;
}
.mainContents div.ConferenceandPublication {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
  text-align: left;
}
.mainContents div.ConferenceandPublication span.ConferenceandPublication {
  margin-bottom: 1vw;
  padding-bottom: 0.25vw;
  border-bottom: #fff 0.1vw solid;
  font-size: 1.65rem;
  font-weight: 500;
  text-align: center;
}
.mainContents div.ConferenceandPublication .ArtandSocialScience {
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 0.25vw;
  padding-bottom: 0.25;
}
.mainContents div.ConferenceandPublication .ScienceandEmergingScience {
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 1.25vw;
  padding-bottom: 0.25;
}
.mainContents div.ConferenceandPublication .article01, .mainContents div.ConferenceandPublication .article02, .mainContents div.ConferenceandPublication .article03,
.mainContents div.ConferenceandPublication .article04, .mainContents div.ConferenceandPublication .article05, .mainContents div.ConferenceandPublication .article06, .mainContents div.ConferenceandPublication .article07 {
  padding: 1vw;
}