@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media screen and (min-width: 1080px) {
  body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #000;
    color: white;
  }
  body a {
    text-decoration: none;
    color: white;
  }
  .logo, .logo h1, .logo p {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .logo h1 {
    margin-top: 2vw;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
  }
  .logo p {
    width: 7.5vw;
    border-bottom: #fff 0.125vw solid;
  }
  .logo img {
    width: 1vw;
    height: auto;
    padding: 0.2vw;
  }
  .logo div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .headerButton {
    top: 0;
    right: 0;
    margin: 1vw;
    position: fixed;
    z-index: 1;
  }
  header {
    top: 0;
    right: 0;
    width: 18vw;
    height: 100vw;
    padding: 1vw;
    position: fixed;
    visibility: visible;
    text-align: right;
    background-color: rgb(85, 85, 85);
  }
  header h1, header h2, header h3 {
    margin: 0;
    padding: 0;
    padding: 0.25vw;
  }
  header h1 {
    font-size: 1.2rem;
    font-weight: 400;
  }
  header h2 {
    font-size: 0.85rem;
    font-weight: 300;
  }
  header h3 {
    font-size: 1.125rem;
    font-weight: 400;
  }
  header li {
    display: none;
    font-size: 0.85rem;
    margin: 0.25vw;
    font-size: 0.9rem;
    font-weight: 300;
  }
  header img {
    width: 5vw;
    height: auto;
    padding: 1vw;
    background-color: transparent;
  }
  header ul, header ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  header .journalPublication {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  .button_01 {
    position: absolute;
    top: 92.5vh;
    text-align: left;
  }
  .button_01 button {
    width: 4.5vw;
    height: auto;
    margin-top: 1vw;
    margin-left: 0.5vw;
    padding: 0.2vw;
    color: #fff;
    background-color: #171717;
    border: none;
    animation: shiny-btn1 3s ease-in-out infinite;
  }
  .button_01 button:hover {
    background: #fff;
    color: #000;
  }
  .button_01 span {
    font-size: 0.75rem;
    font-weight: 500;
  }
  footer {
    bottom: 0;
    margin: 1vw;
    color: fff;
    font-size: 0.75rem;
  }
}