// This is start of scss
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin reset{
    margin: 0;
    padding: 0;
}
// This is desctop setting
@media screen and (min-width: 1080px) {
    body{
        font-family: 'Noto Sans KR', sans-serif;
        background-color: #000;
        color: white;
        a{
            text-decoration: none;
            color: white;
        }
    }
    .logo{
        &, h1, p{
            @include reset;
            text-align: center;
        }
        h1{
            margin-top: 2vw;

            font-size: 1.5rem;
            font-weight: 500;

            color: #fff;
        }
        p{
            width: 7.5vw;
            border-bottom: #fff 0.125vw solid;
        }
        img{
            width: 1vw;
            height: auto;
    
            padding: 0.2vw;
        }
        div{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }    
    header {
        top: 0;
        right: 0;
        width: 18vw;
        height: 100vw;
        padding: 1vw;
        position: fixed;
        display: block;
        text-align: right;
        background-color: rgb(85, 85, 85);

        h1, h2, h3{
            @include reset;
            padding: 0.25vw;
        }
        h1{
            font-size: 1.2rem;
            font-weight: 400;
        }
        h2{
            font-size: 0.85rem;
            font-weight: 300;
        }
        h3{
            font-size: 1.125rem;
            font-weight: 400;
        }
        li {
            font-size: 0.85rem;

            margin: 0.25vw;
            font-size: 0.9rem;
            font-weight: 300;
        }  
        img{
            width: 5vw;
            height: auto;

            padding: 1vw;

            background-color: transparent;
        }
        ul, ol {
            @include reset;
            list-style-type: none;
        }
        .journalPublication{
            padding-top: 2vw;
        }
    }
    .button_01 {
        position: absolute;
        top: 92.5vh;
        text-align: left;
    
        button {
            width: 4.5vw;
            height: auto;
    
            margin-top: 1vw;
            margin-left: 0.5vw;
            padding: 0.2vw;
    
            color: #fff;
            background-color: #171717;
            border: none;
    
            animation: shiny-btn1 3s ease-in-out infinite;
        }
    
        button:hover {
            background: #fff;
            color: #000;
        }
    
        span {
            font-size: 0.75rem;
            font-weight: 500;
        }
    }

    // this is article setting
    .mainContents{
        .personalInfo{
            text-align: center;
        }
    }

    footer{
        position: absolute;
        bottom: 0;
        margin: 1vw;
        color: fff;

        font-size: 0.75rem;
    }
}
