// this is my web page css
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@mixin reset {
    margin: 0;
    padding: 0;
}

body{
    @include reset;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    // Hide scroll bar
    & {
        -ms-overflow-style: none; // IE
        scrollbar-width: none; // Firefox
      }
    &::-webkit-scrollbar {
        display: none; // Other
    }
}
footer{
    margin: 2vw;

    font-weight: 300;
    font-size: .85rem;

    text-align: center;
    p{
        @include reset;
    }
}

@media screen and (min-width: 1080px) {
    header{
        display: flex;
        align-items: top;
        justify-content: space-between;

        border-bottom: solid 0.125vw #000;

        padding: .5vw;
        a{
            color: black;
            text-decoration: none;
        }
        div{
            display: flex;
            align-items: center;
            h1{
                @include reset;
                margin: .5vw;
                padding-left: 1vw;
            }
            section {
                display: block;
                position: fixed;
                bottom: 1vh;
                margin: .25vw;
                background-color: #fff;
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 2.5vw;
                    height: 2.5vw;

                    margin: .5vw;

                    font-size: 1rem;
                    font-weight: 500;

                    color: #fff;
                    background-color: #000;

                    border: .125vw solid black;
                    border-radius: 50%;

                    &:hover {
                        background: #fff;
                        color: #000;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }         
        }
        nav{
            display: flex;
            padding: 1vw;
            ul{
                @include reset;
                display: flex; 
                list-style: none; 

                h4 {
                    @include reset;
                    margin-right: 4vw;
                }

                ul li{
                    font-weight: 300;
                    padding-bottom: .5vh;
                }
                ul li:last-child {
                    padding-bottom: 0;
                }
            }
            ul:last-child {
                padding-right: .5vw;
            }
            .subMenu {
                display: block;
                opacity: 0;
                max-height: 0;
                visibility: hidden;
                overflow: hidden;
                transition: visibility 0s, opacity .5s linear, max-height .5s ease-in-out;
            }
            
            &:hover .subMenu {
                visibility: visible;
                opacity: 1;
                padding-top: 1vw;
                max-height: 5vw;
            }                
        }    
    }
    article{
        margin: 2vw;
        h1, h2, h3, h4 {
            @include reset();
            font-weight: 300;
        }
    }
    .article_02 {
        h2 {
            font-weight: 500;
        }
    }
    .article_03 {
        display: flex;
        text-align: center;
        justify-content: center;
        img{
            width: 50vw;
        }
        div{
            padding-top: 2vw;
            h4{
                @include reset();
            }
        }
        .SNS {
            position: absolute;
            margin-left: 75vw;
        }
    }
}
@media screen and (max-width: 1079px) {
    header{
        margin: 0;
        padding: 1vw; 
        
        display: flex;
        align-items: start;
        justify-content: space-between;

        border-bottom: solid 0.5vw #000;
        a{
            color: black;
            text-decoration: none;
        }
        div{
            h1{
                margin: 0;
                padding: 0;

                font-size: 3rem;
            }
            section {
                display: flex; // section을 flex 컨테이너로 설정
                flex-direction: row; // 아이템들을 수평으로 정렬
              
                button {
                  width: 3vw;
                  height: 3vw;
                  margin-right: 0.5vw;
                  font-size: 1rem;
                  font-weight: 500;
                  color: #fff;
                  background-color: #171717;
                  border: solid black;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center; // 버튼 내의 텍스트를 수평 중앙에 정렬
                  align-items: center; // 버튼 내의 텍스트를 수직 중앙에 정렬
              
                  &:hover {
                    background: #fff;
                    color: #000;
                  }
              
                  &:last-child {
                    margin-right: 0; // 마지막 버튼의 오른쪽 마진 제거
                  }
                }
              }                                  
        }
        nav{
            padding: 2vw;
            font-size: 1.5rem;
            ul{
                margin: 0;
                padding-right: 35vw;

                list-style: none; 

                display: flex; // Flexbox 사용
                flex-direction: column; // 항목들을 세로 방향으로 정렬
                flex-wrap: wrap; // 컨테이너 높이를 초과할 경우 다음 열로 넘김
                max-height: 12.5vw; // ul의 최대 높이 설정
                height: 100%; // ul의 높이를 부모(nav)의 높이만큼 설정

                li{
                    margin-right: 2vw;
                    padding: 0.5vw;
                }
                li:last-child {
                    margin-right: 0;
                }
            }
        }     
    }
    article{
        margin: 2vw;
        h1, h2, h3, h4 {
            font-weight: 300;
        }
        img{
            display: block;

            width: 50vw;
            height: auto;

            margin: auto;
        }
        div{
            margin: 0;
            padding-top: 2vw;

            text-align: center;
            h4{
                margin: 0;
                padding: 0;
            }
        }
    }
}