// this is my web page css
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media screen and (min-width: 1080px) {
    body{
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 500;
    }
    header{
        margin: 0;
        padding: 0.5vw; 
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        a{
            color: black;
            text-decoration: none;
        }
        div{
            display: flex;
            align-items: center;

            h1{
                margin: 0;
                padding: 0;
            }
            section{
                margin-left: 2vw;
                button {
                    width: 2vw;
                    height: 2vw;
    
                    margin-right: 0.5vw;
    
                    color: #fff;
                    background-color: #171717;
                    border: solid, black;
                    border-radius: 50%;
                    
                    text-align: center;
                    line-height: 1.5vw;
                    
                    animation: 3s ease-in-out infinite;
                }
                button:hover {
                    background: #fff;
                    color: #000;
                }
                
                button:last-child {
                    margin-right: 0;
                }  
            }          
        }
        nav{
            display: flex;
            padding: 0.5vw;
            ul{
                margin: 0;
                padding: 0;
                display: flex; 
                list-style: none; 
        
                li{
                    margin-right: 2vw;
                }
                li:last-child {
                    margin-right: 0;
                }
            }
        }     
    }
    article{
        margin: 2vw;
        h1, h2, h3, h4 {
            font-weight: 300;
        }
    }
    footer{
        font-weight: 300;
        font-size: 0.85rem;

        text-align: center;
        p{
            margin: 0;
            padding: 0;
        }
    }
}