// this is my web page css
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@mixin reset {
    margin: 0;
    padding: 0;
}
body{
    @include reset;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    // Hide scroll bar
    & {
        -ms-overflow-style: none; // IE
        scrollbar-width: none; // Firefox
      }
    &::-webkit-scrollbar {
        display: none; // Other
    }
}
footer{
    margin: 2vw;
    font-weight: 300;
    font-size: .85rem;
    text-align: center;
    p{
        @include reset;
    }
}

@media screen and (min-width: 1080px) {
    header{
        display: flex;
        align-items: top;
        justify-content: space-between;

        border-bottom: solid 0.125vw #000;

        padding: .5vw;
        a{
            color: black;
            text-decoration: none;
        }
        div{
            display: flex;
            align-items: center;
            h1{
                @include reset;
                margin: .5vw;
                padding-left: 1vw;
            }
            section {
                display: block;
                position: fixed;
                bottom: 1vh;
                margin: .25vw;
                background-color: #fff;
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 2.5vw;
                    height: 2.5vw;

                    margin: .5vw;

                    font-size: 1rem;
                    font-weight: 500;

                    color: #fff;
                    background-color: #000;

                    border: .125vw solid black;
                    border-radius: 50%;

                    &:hover {
                        background: #fff;
                        color: #000;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }         
        }
        nav{
            display: flex;
            padding: 1vw;
            ul{
                @include reset;
                display: flex;
                list-style: none;
                button {
                    display: none;
                }
                h4 {
                    @include reset;
                }
                ul li {
                    padding-right: 2vw;
                    padding-bottom: .5vh;
                    font-weight: 300;
                    &:last-child {
                        padding-right: 0;
                        padding-bottom: 0;
                    }
                }
                &:last-child {
                    padding-right: .5vw;
                }
            }
            .subMenu {
                display: block;
                opacity: 0;
                max-height: 0;
                visibility: hidden;
                overflow: hidden;
                transition: visibility 0s, opacity .5s linear, max-height .5s ease-in-out;
            }
            
            &:hover .subMenu {
                visibility: visible;
                opacity: 1;
                padding-top: 1vw;
                max-height: 5vw;
            }                
        }    
    }
    article{
        margin: 2vw;
        h1, h2, h3, h4 {
            @include reset();
            font-weight: 300;
        }
    }
    .article_02 {
        h2 {
            font-weight: 500;
        }
    }
    .article_03 {
        display: flex;
        text-align: center;
        justify-content: center;
        img{
            width: 50vw;
        }
        div{
            padding-top: 2vw;
            h4{
                @include reset();
            }
        }
        .SNS {
            position: absolute;
            margin-left: 75vw;
        }
    }
}
@media screen and (max-width: 1079px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-bottom: solid 0.25vw black;

        padding: 1vw; 
        a{
            color: black;
            text-decoration: none;
        }
        div{
            h1{
                @include reset();
                padding-left: 1vw;

                font-size: 2.5rem;
            }
            section {
                display: block;
                position: fixed;
                right: 2.5vw;
                bottom: 0;

                padding: 2.5vw;
                button {          
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 2vw;

                    width: 8vw;
                    height: 8vw;

                    font-size: 2rem;
                    font-weight: 500;
                    color: white;
                    background-color: black;

                    border: solid black;
                    border-radius: 50%;

                    &:hover {
                        background: #fff;
                        color: #000;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
              }                                  
        }
        //nav{
        ul{
            @include reset();
            display: flex;
            list-style: none; 
            align-items: center;
            button{
                display: none;

                position: fixed;
                z-index: 1001;
                top: 5vw;
                left: 5vw;

                font-size: 4rem;
            }
            li{
                h4 {
                    @include reset();
                    font-size: 1.5rem;
                    font-weight: 400;
                    padding-right: 3.5vw;
                }
                ul {
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: gray;
                    z-index: 1000;
                    a {
                        font-size: 8.5vw;
                        color: white;
                    }      
                }      
            }
        }
        //}     
    }
    article{
        margin: 2vw;
        h1, h2, h3, h4 {
            font-weight: 300;
        }
        img{
            display: block;

            width: 80vw;
            height: auto;

            margin: auto;
        }
        div{
            margin: 0;
            padding-top: 2vw;

            text-align: center;
            h4{
                margin: 0;
                padding: 0;
            }
        }
    }
}