@import '../../styles/_variable.scss';
@import '../../styles/mixins';

@media screen and (min-width: 1080px) {
    .Main {
        margin-top: 15vh;
        height: 80vh;
        width: 100vw;
        display: grid;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 1079px) {
    .Main {
        margin-top: 5vh;
        height: 90vh;
        width: 100vw;
        display: grid;
        align-items: center;
        justify-content: center;
    }
}