@mixin reset(){
    margin: 0;
    padding: 0;
}
@mixin hideScrollBar(){
    & {
        -ms-overflow-style: none; // IE
        scrollbar-width: none; // Firefox
        }
    &::-webkit-scrollbar {
        display: none; // Other
    }
}
@mixin marginPaddingSetting($margin:0%, $padding:0%){
    margin: $margin;
    padding: $padding;
}
@mixin fontSetting($weight:initial, $size:initial, $style:normal){
    font-weight: $weight;
    font-size: $size;
    font-style: $style;
}
