@import './_variable.scss';

*{
    @include reset();
}
body{
    @include fontSetting(500);
    font-family: $primary-font;
}
footer{
    @include marginPaddingSetting(2vw, );
    @include fontSetting(300, .85rem, );
    text-align: center;
}