@import '../../styles/variable.scss';
@import '../../styles/mixins';

@media screen and (min-width: 1080px) {
    h1{
        padding-left: 1vw;
    }
    a{
        color: $primary-color;
        text-decoration: none;
    }
}

@media screen and (max-width: 1079px) {
    h1{
        font-size: 1.5rem;
        padding-left: 1vw;
        border-bottom: .125vh solid black;
    }
    a{
        color: $primary-color;
        text-decoration: none;
    }
}