@import '../../styles/variable.scss';
@import '../../styles/mixins';

.artwork {
    text-align: center;
    justify-content: center;
    img{
        width: 35vw;
    }
    div{
        padding-top: 2vw;
    }
    // @include marginPaddingSetting(2vw, );
    h1, h2, h3, h4 {
        @include fontSetting(300);
    }
    h2 {
        @include fontSetting(500, 1.5rem);
    }
}