@import '../../styles/_variable.scss';
@import '../../styles/mixins';

header{
    @include marginPaddingSetting(0%, .5vw);
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    div{
        display: flex;
        align-items: center;       
    } 
}