@import '../../styles/Variable.scss';

header{
    @include marginPaddingSetting(0%, .5vw);
    display: flex;
    align-items: top;
    justify-content: space-between;

    border-bottom: solid 0.125vw $primary-color;
    a{
        color: $primary-color;
        text-decoration: none;
    }
    div{
        display: flex;
        align-items: center;       
    } 
}