@import '../../styles/_variable.scss';
@import '../../styles/mixins';

.SNSPage {
    padding-top: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 85vh;
    h4{
        @include fontSetting(400);
    }
    .LinkedIn {
        text-align: center;
        img{
            width: 10vw;
        }
    }
    .Instagram {
        text-align: center;
        img{
            width: 5vw;
        }
    }
}