@import '../../styles/_variable.scss';

@media screen and (min-width: 1080px) {
    nav{
        display: flex;
        padding: 1vw;
        ul{
            display: flex;
            list-style: none;
            button {
                display: none;
            }
            ul li {
                padding-right: 2vw;
                padding-bottom: .5vh;
                @include fontSetting(300);
                &:last-child {
                    padding-right: 0;
                    padding-bottom: 0;
                }
            }
            &:last-child {
                padding-right: .5vw;
            }
        }
        .subMenu {
            display: block;
            opacity: 0;
            max-height: 0;
            visibility: hidden;
            overflow: hidden;
            transition: visibility 0s, opacity .5s linear, max-height .5s ease-in-out;
        }
        
        &:hover .subMenu {
            visibility: visible;
            opacity: 1;
            padding-top: 1vw;
            max-height: 10vw;
        }                
    }
}

@media screen and (max-width: 1079px) {
        //nav{
        ul{
            display: flex;
            list-style: none; 
            align-items: center;
            button{
                display: none;

                background-color: transparent;
                border: none;
                position: fixed;

                top: 5vw;
                left: 5vw;

                z-index: 1001;
                span {
                    color: $secondary-color;
                    font-size: 4rem;
                    font-weight: 300
                }
            }
            li{
                h4 {
                    @include fontSetting(400, 1.5rem, );
                    padding-right: 3.5vw;
                }
                ul {
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: gray;
                    z-index: 1000;
                    a {
                        font-size: 8.5vw;
                        font-weight: 300;
                        color: $secondary-color;
                    }      
                }      
            }
        }
        //}     
}