@import '../../styles/_variable.scss';
@import '../../styles/mixins';

@media screen and (min-width: 1080px) {
    nav{
        width: 25vw;
        margin-top: 1vh;
        padding-right: 2.5vw;
        #ulButton {
            display: none;
        }
        ul {
            display: flex;
            list-style: none;
            justify-content: space-between;
            li {
                h4 {
                    @include fontSetting(400,1.125rem);
                }
                ul li {
                    padding-bottom: .25vh;
                }
                li a{
                    @include fontSetting(300,1rem);
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
        .subMenu {
            display: block;
            opacity: 0;
            max-height: 0;
            visibility: hidden;
            overflow: hidden;
            transition: visibility 0s, opacity .5s linear, max-height .5s ease-in-out;
        }
        
        li:hover .subMenu {
            visibility: visible;
            opacity: 1;
            padding-top: 0.5vw;
            max-height: 10vw;
        }
    }
}

@media screen and (max-width: 1079px) {
        //nav{
        ul{
            display: flex;
            list-style: none; 
            align-items: center;
            button{
                display: none;

                background-color: transparent;
                border: none;
                position: fixed;

                top: 5vw;
                left: 5vw;

                z-index: 1001;
                span {
                    color: $secondary-color;
                    font-size: 4rem;
                    font-weight: 300
                }
            }
            li{
                h4 {
                    @include fontSetting(400, 1.25rem, );
                    padding-right: 3.5vw;
                }
                ul {
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: gray;
                    z-index: 1000;
                    a {
                        font-size: 8.5vw;
                        font-weight: 300;
                        color: $secondary-color;
                    }      
                }      
            }
        }
        //}     
}